body {
    font-family: lovelo, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5E71E1;
    color: white 
}

header {
    background-color: #A2E9FF;
    color: black;
    text-align: center;
    padding: 1em 0;
    images: b0e8332babad650b08d53575247508b3.jpg
}

#descripcion, #comprar {
    margin: 20px;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#abou us {
    margin: 0px;
    padding: 10px 20px 5px 15px; /* Arriba, derecha, abajo, izquierda */
}

#about-us {
  background-color: #f9f9f9; /* Fondo claro */
  padding: 40px; /* Espacio interior para darle aire */
  text-align: center; /* Centra el texto */
  margin-top: 20px; /* Espacio arriba de la sección */
}

#about-us h2 {
  font-size: 28px; /* Tamaño del título */
  color: #333; /* Color del título */
}

#about-us h3 {
  font-size: 22px; /* Tamaño de los subtítulos */
  color: #555; /* Color de los subtítulos */
}

#about-us p {
  font-size: 16px; /* Tamaño del texto */
  color: #666; /* Color del texto */
  margin: 10px 0; /* Espacio entre párrafos */
}

#comprar {
    text-align: center;
}

button {
    background-color: #A2E9FF
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
